@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

#root {
  max-width: 768px;
  padding: 2rem;
  text-align: center;
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: 'Merriweather', serif;
}

.flexContainer {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll ::-webkit-scrollbar {
  display: none;
}

.MovieCardContainer {
  margin: 0 -2rem;
}